<p><strong>Present List</strong></p>
<table class="cool-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Group</th>
            <th>Fillier</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let e of etudiants">
            <tr *ngIf="e.isPresent==false">
                <td>{{ e.name }}</td>
                <td>{{ e.lastname }}</td>
                <td>{{ e.phone }}</td>
                <td>{{ e.group }}</td>
                <td>{{ e.fillier }}</td>
                <td><button (click)="markAbsent(e)">Absent</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>

